@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EFEFEF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.5rem;
  color: #413E3E;
  font-weight: 500;
  margin-bottom: 20px;
}

.custom-select-box {
  width: 250px;
  height: auto;
  position: relative;
}

.selected-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
}

.content {
  display: none; 
}

.content.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  width: 100%;
}

.search {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 0;
  outline: none;
  margin: 5px 0;
  border-radius: 5px;
}

.search:focus {
  outline: none;
}

.options {
  list-style: none;
}

.options-item {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #F3F3F3;
  display: flex;
  align-items: center;
  background: white;
}

.options-item:last-child {
  border-bottom: 0;
}

.item {
  
}

.select-value {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.option {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  top: 0;
}

.option:checked ~ .select-value {
  background: #535353;
  color: white;
}